# Review B.Trotta's code
### "calc_aggs.py"
### "submit.py"
* The former is the feature engineering
* The latter runs LGB to create model, measures performance and creates a submission

# Part 1:  "calc_aggs"
calc_aggs is the function that generates features from the timeseries data.  This is the "feature engineering" step and the core of the submission.

This notebook investigates each step in "calc_aggs" method.  It is mostly a copy/paste from the btrotta source tree https://github.com/btrotta/kaggle-plasticc.git file calculate_features.py

In [1]:
import pandas as pd
import numpy as np
import gc
import os

In [2]:
col_dict = {'mjd': np.float64, 'flux': np.float32, 'flux_err': np.float32, 'object_id': np.int32, 'passband': np.int8,
            'detected': np.int8}

In [3]:
path = '/mnt/c/Users/CWinsor/Documents/code_kaggle_plasticc___shared_data/PLAsTiCC-2018'
train_meta = pd.read_csv(os.path.join(path, 'training_set_metadata.csv'))

In [4]:
train_meta.head(5)

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
0,615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
1,713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
2,730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
3,745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
4,1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

In [5]:
train = pd.read_csv(os.path.join(path, 'training_set.csv'), dtype=col_dict)

In [6]:
train.head(10)

   object_id         mjd  passband         flux   flux_err  detected
0        615  59750.4229         2  -544.810303   3.622952         1
1        615  59750.4306         1  -816.434326   5.553370         1
2        615  59750.4383         3  -471.385529   3.801213         1
3        615  59750.4450         4  -388.984985  11.395031         1
4        615  59752.4070         2  -681.858887   4.041204         1
5        615  59752.4147         1 -1061.457031   6.472994         1
6        615  59752.4224         3  -524.954590   3.552751         1
7        615  59752.4334         4  -393.480225   3.599346         1
8        615  59752.4435         5  -355.886780  10.421921         1
9        615  59767.2968         2  -548.013550   3.462291         1

In [7]:
train.describe()

,object_id,mjd,passband,flux,flux_err,detected
count,1.421705e+06,1.421705e+06,1.421705e+06,1.421705e+06,1.421705e+06,1.421705e+06
mean,3.392608e+07,6.017921e+04,2.783108e+00,2.468856e+01,2.548932e+01,1.666168e-01
std,4.258439e+07,3.092379e+02,1.703946e+00,3.684506e+03,3.814491e+03,3.726336e-01
min,6.150000e+02,5.958003e+04,0.000000e+00,-1.149388e+06,4.637530e-01,0.000000e+00
25%,1.843400e+05,5.989905e+04,1.000000e+00,-2.789418e+00,2.118670e+00,0.000000e+00
50%,4.548783e+06,6.019331e+04,3.000000e+00,7.331990e-01,4.708105e+00,0.000000e+00
75%,6.796280e+07,6.048722e+04,4.000000e+00,8.830932e+00,1.297371e+01,0.000000e+00
max,1.307798e+08,6.067436e+04,5.000000e+00,2.432809e+06,2.234069e+06,1.000000e+00

In [8]:
all_meta = pd.concat([train_meta], axis=0, ignore_index=True, sort=True).reset_index()
all_meta.drop('index', axis=1, inplace=True)

In [9]:
all_meta.head(5)

,ddf,decl,distmod,gal_b,gal_l,hostgal_photoz,hostgal_photoz_err,hostgal_specz,mwebv,object_id,ra,target
0,1,-61.943836,NaN,-51.753706,320.796530,0.0000,0.0000,0.0000,0.017,615,349.046051,92
1,1,-27.784405,45.4063,-54.460748,223.525509,1.6267,0.2552,1.8181,0.007,713,53.085938,88
2,1,-6.579593,40.2561,-61.548219,170.455585,0.2262,0.0157,0.2320,0.021,730,33.574219,42
3,1,-45.586655,40.7951,-68.969298,328.254458,0.2813,1.1523,0.3037,0.007,745,0.189873,90
4,1,-63.823658,40.4166,-51.059403,316.922299,0.2415,0.0176,0.1934,0.024,1124,352.711273,90

In [17]:
test_meta = pd.read_csv(os.path.join(path, 'test_set_metadata.csv'))
#train_meta = pd.read_csv(os.path.join(path, 'training_set_metadata.csv'))

In [18]:
test_meta.shape

(3492890, 11)

In [10]:
train_meta.shape

(7848, 12)

In [11]:
all_meta.shape

(7848, 12)

# Prepare to emulate call to calc_aggs()

In [19]:
# prepare to emulate call to calc_aggs()
all_data = train.copy()
exact = True

In [20]:
all_data.head(5)

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [21]:
#starting out...
all_data.shape

(1421705, 6)

# calc_aggs ...

In [22]:
all_data[all_data["object_id"]==730].head(5)

     object_id         mjd  passband       flux  flux_err  detected
702        730  59798.3205         2   1.177371  1.364300         0
703        730  59798.3281         1   2.320849  1.159247         0
704        730  59798.3357         3   2.939447  1.771328         0
705        730  59798.3466         4   2.128097  2.610659         0
706        730  59798.3576         5 -12.809639  5.380097         0

### Normalise the flux, following the Bayesian approach

In [23]:
prior_mean = all_data.groupby(['object_id', 'passband'])['flux'].transform('mean')
prior_std = all_data.groupby(['object_id', 'passband'])['flux'].transform('std')
prior_std.loc[prior_std.isnull()] = all_data.loc[prior_std.isnull(), 'flux_err']
obs_std = all_data['flux_err']  # since the above kernel tells us that the flux error is the 68% confidence interval
all_data['bayes_flux'] = (all_data['flux'] / obs_std**2 + prior_mean / prior_std**2) \
                             / (1 / obs_std**2 + 1 / prior_std**2)
all_data.loc[all_data['bayes_flux'].notnull(), 'flux'] \
        = all_data.loc[all_data['bayes_flux'].notnull(), 'bayes_flux']

In [24]:
all_data[all_data["object_id"]==730].head(5)

,object_id,mjd,passband,flux,flux_err,detected,bayes_flux
702,730,59798.3205,2,1.246867,1.364300,0,1.246867
703,730,59798.3281,1,1.685412,1.159247,0,1.685412
704,730,59798.3357,3,2.952700,1.771328,0,2.952700
705,730,59798.3466,4,2.250392,2.610659,0,2.250392
706,730,59798.3576,5,-10.380242,5.380097,0,-10.380242

### Estimate the flux at source, using the fact that light is proportional

In [25]:
redshift = all_meta.set_index('object_id')[['hostgal_specz', 'hostgal_photoz']]
if exact:
    redshift['redshift'] = redshift['hostgal_specz']
    redshift.loc[redshift['redshift'].isnull(), 'redshift'] \
        = redshift.loc[redshift['redshift'].isnull(), 'hostgal_photoz']
else:
    redshift['redshift'] = redshift['hostgal_photoz']
all_data = pd.merge(all_data, redshift, 'left', 'object_id')
nonzero_redshift = all_data['redshift'] > 0
all_data.loc[nonzero_redshift, 'flux'] = all_data.loc[nonzero_redshift, 'flux'] \
                                         * all_data.loc[nonzero_redshift, 'redshift']**2

In [26]:
all_data[all_data["object_id"]==730].head(5)

,object_id,mjd,passband,flux,flux_err,detected,bayes_flux,hostgal_specz,hostgal_photoz,redshift
702,730,59798.3205,2,0.067111,1.364300,0,1.246867,0.232,0.2262,0.232
703,730,59798.3281,1,0.090716,1.159247,0,1.685412,0.232,0.2262,0.232
704,730,59798.3357,3,0.158926,1.771328,0,2.952700,0.232,0.2262,0.232
705,730,59798.3466,4,0.121125,2.610659,0,2.250392,0.232,0.2262,0.232
706,730,59798.3576,5,-0.558706,5.380097,0,-10.380242,0.232,0.2262,0.232

# aggregate features

In [27]:
band_aggs = all_data.groupby(['object_id', 'passband'])['flux'].agg(['mean', 'std', 'max', 'min']).unstack(-1)
band_aggs.columns = [x + '_' + str(y) for x in band_aggs.columns.levels[0]
                      for y in band_aggs.columns.levels[1]]
all_data.sort_values(['object_id', 'passband', 'flux'], inplace=True)
# this way of calculating quantiles is faster than using the pandas quantile builtin on the groupby object
all_data['group_count'] = all_data.groupby(['object_id', 'passband']).cumcount()
all_data['group_size'] = all_data.groupby(['object_id', 'passband'])['flux'].transform('size')
q_list = [0.25, 0.75]
for q in q_list:
    all_data['q_' + str(q)] = all_data.loc[
        (all_data['group_size'] * q).astype(int) == all_data['group_count'], 'flux']
quantiles = all_data.groupby(['object_id', 'passband'])[['q_' + str(q) for q in q_list]].max().unstack(-1)
quantiles.columns = [str(x) + '_' + str(y) + '_quantile' for x in quantiles.columns.levels[0]
                     for y in quantiles.columns.levels[1]]

In [28]:
all_data[all_data["object_id"]==730]

,object_id,mjd,passband,flux,flux_err,detected,bayes_flux,hostgal_specz,hostgal_photoz,redshift,group_count,group_size,q_0.25,q_0.75
1021,730,60643.0521,0,-0.095862,1.682890,0,-1.781029,0.232,0.2262,0.232,0,72,NaN,NaN
919,730,60290.0761,0,-0.077771,1.929932,0,-1.444906,0.232,0.2262,0.232,1,72,NaN,NaN
822,730,59938.0647,0,-0.076970,2.015928,0,-1.430028,0.232,0.2262,0.232,2,72,NaN,NaN
943,730,60558.2332,0,-0.066238,2.511074,0,-1.230635,0.232,0.2262,0.232,3,72,NaN,NaN
712,730,59818.2740,0,-0.065273,1.801066,0,-1.212713,0.232,0.2262,0.232,4,72,NaN,NaN
942,730,60557.2322,0,-0.059896,1.848830,0,-1.112806,0.232,0.2262,0.232,5,72,NaN,NaN
714,730,59820.2522,0,-0.058615,1.915426,0,-1.089018,0.232,0.2262,0.232,6,72,NaN,NaN
756,730,59876.0980,0,-0.058106,2.450620,0,-1.079552,0.232,0.2262,0.232,7,72,NaN,NaN
992,730,60616.0769,0,-0.055775,2.024976,0,-1.036256,0.232,0.2262,0.232,8,72,NaN,NaN
892,730,60264.0559,0,-0.054466,2.192123,0,-1.011920,0.232,0.2262,0.232,9,72,NaN,NaN
755,730,59875.0995,0,-0.054272,2.037783,0,-1.008330,0.232,0.2262,0.232,10,72,NaN,NaN
961,730,60587.1540,0,-0.051568,2.138732,0,-0.958088,0.232,0.2262,0.232,11,72,NaN,NaN
957,730,60583.1640,0,-0.046531,3.006098,0,-0.864504,0.232,0.2262,0.232,12,72,NaN,NaN
820,730,59936.0642,0,-0.039976,1.533033,0,-0.742725,0.232,0.2262,0.232,13,72,NaN,NaN
853,730,60202.2089,0,-0.038776,2.505382,0,-0.720422,0.232,0.2262,0.232,14,72,NaN,NaN
993,730,60617.0737,0,-0.033120,1.574103,0,-0.615342,0.232,0.2262,0.232,15,72,NaN,NaN
758,730,59878.0964,0,-0.031585,2.029308,0,-0.586814,0.232,0.2262,0.232,16,72,NaN,NaN
994,730,60620.1444,0,-0.030266,1.722706,0,-0.562307,0.232,0.2262,0.232,17,72,NaN,NaN
1024,730,60646.0636,0,-0.029485,1.798218,0,-0.547804,0.232,0.2262,0.232,18,72,-0.029485,NaN
788,730,59906.0562,0,-0.029049,2.043133,0,-0.539706,0.232,0.2262,0.232,19,72,NaN,NaN
851,730,60200.2139,0,-0.028603,2.611164,0,-0.531423,0.232,0.2262,0.232,20,72,NaN,NaN
728,730,59851.1792,0,-0.027992,2.597541,0,-0.520064,0.232,0.2262,0.232,21,72,NaN,NaN
791,730,59909.0582,0,-0.027521,1.850359,0,-0.511313,0.232,0.2262,0.232,22,72,NaN,NaN
821,730,59937.0650,0,-0.023405,1.654440,0,-0.434848,0.232,0.2262,0.232,23,72,NaN,NaN
835,730,60177.2726,0,-0.022196,2.790846,0,-0.412376,0.232,0.2262,0.232,24,72,NaN,NaN
1025,730,60647.0635,0,-0.020081,1.985424,0,-0.373080,0.232,0.2262,0.232,25,72,NaN,NaN
759,730,59879.0895,0,-0.018910,1.877854,0,-0.351329,0.232,0.2262,0.232,26,72,NaN,NaN
959,730,60585.1601,0,-0.015265,1.881978,0,-0.283617,0.232,0.2262,0.232,27,72,NaN,NaN
786,730,59904.1053,0,-0.014503,2.301550,0,-0.269456,0.232,0.2262,0.232,28,72,NaN,NaN
991,730,60615.0761,0,-0.013742,1.998764,0,-0.255321,0.232,0.2262,0.232,29,72,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,730,60209.2184,5,0.089735,6.712256,0,1.667198,0.232,0.2262,0.232,21,51,NaN,NaN
780,730,59899.1891,5,0.107202,7.924479,0,1.991720,0.232,0.2262,0.232,22,51,NaN,NaN
888,730,60250.2253,5,0.115375,7.954757,0,2.143560,0.232,0.2262,0.232,23,51,NaN,NaN
908,730,60281.1394,5,0.138955,5.189152,0,2.581652,0.232,0.2262,0.232,24,51,NaN,NaN
812,730,59930.1607,5,0.151730,5.343603,0,2.818996,0.232,0.2262,0.232,25,51,NaN,NaN
743,730,59867.1487,5,0.162393,5.845339,0,3.017118,0.232,0.2262,0.232,26,51,NaN,NaN
977,730,60605.1283,5,0.169910,5.145659,0,3.156779,0.232,0.2262,0.232,27,51,NaN,NaN
775,730,59896.1679,5,0.170059,5.962979,0,3.159544,0.232,0.2262,0.232,28,51,NaN,NaN
982,730,60608.1211,5,0.187141,4.667600,0,3.476901,0.232,0.2262,0.232,29,51,NaN,NaN
733,730,59854.1860,5,0.208616,5.803461,0,3.875898,0.232,0.2262,0.232,30,51,NaN,NaN
748,730,59870.1424,5,0.224786,5.293428,0,4.176313,0.232,0.2262,0.232,31,51,NaN,NaN
753,730,59873.1346,5,0.273752,4.601235,0,5.086067,0.232,0.2262,0.232,32,51,NaN,NaN
711,730,59801.3924,5,0.275039,5.395980,0,5.109963,0.232,0.2262,0.232,33,51,NaN,NaN
817,730,59933.1620,5,0.280291,5.441072,0,5.207539,0.232,0.2262,0.232,34,51,NaN,NaN
999,730,60621.3044,5,0.314486,7.527862,0,5.842855,0.232,0.2262,0.232,35,51,NaN,NaN
987,730,60611.1130,5,0.324378,4.175368,0,6.026650,0.232,0.2262,0.232,36,51,NaN,NaN
863,730,60212.2050,5,0.394332,5.678200,0,7.326324,0.232,0.2262,0.232,37,51,NaN,NaN
903,730,60278.1364,5,0.403569,7.658961,0,7.497946,0.232,0.2262,0.232,38,51,NaN,0.403569
868,730,60223.2788,5,0.461187,5.811805,0,8.568429,0.232,0.2262,0.232,39,51,NaN,NaN
727,730,59842.2827,5,0.493890,6.086383,0,9.176023,0.232,0.2262,0.232,40,51,NaN,NaN
972,730,60596.1723,5,0.508183,7.199404,0,9.441575,0.232,0.2262,0.232,41,51,NaN,NaN
967,730,60593.1585,5,0.540406,5.118365,0,10.040238,0.232,0.2262,0.232,42,51,NaN,NaN
785,730,59902.1755,5,0.548872,7.044582,0,10.197536,0.232,0.2262,0.232,43,51,NaN,NaN
1004,730,60624.1661,5,0.559845,4.772836,0,10.401393,0.232,0.2262,0.232,44,51,NaN,NaN
1014,730,60636.0854,5,0.667516,5.711615,0,12.401825,0.232,0.2262,0.232,45,51,NaN,NaN
955,730,60580.2108,5,1.035491,7.662856,0,19.238459,0.232,0.2262,0.232,46,51,NaN,NaN
950,730,60567.3663,5,1.565860,4.281011,1,29.092222,0.232,0.2262,0.232,47,51,NaN,NaN
938,730,60538.3199,5,1.921257,5.039364,1,35.695175,0.232,0.2262,0.232,48,51,NaN,NaN
933,730,60535.3177,5,2.026967,7.197146,1,37.659157,0.232,0.2262,0.232,49,51,NaN,NaN
928,730,60532.3392,5,2.192224,5.458707,1,40.729492,0.232,0.2262,0.232,50,51,NaN,NaN

### another approach - use the .quantile operator on the .groupBy
as referenced in the comments

DataFrame.quantile(self, q=0.5, axis=0, numeric_only=True, interpolation='linear')

this *does* take a long time

In [29]:
temporary = all_data.groupby(['object_id', 'passband'])['flux'].quantile(q=[.25,.75])

In [30]:
temporary.unstack().head(10)

                          0.25        0.75
object_id passband
615       0         -87.899025   81.896961
          1        -936.821533  114.756821
          2        -555.584244  312.449711
          3        -454.085464  208.036484
          4        -343.492065  227.865406
          5        -353.825928  256.820892
713       0         -28.223888    7.317062
          1         -19.103429    9.737729
          2         -18.076024   12.579229
          3         -19.864004   13.305155

### max detected flux
a reduction - get the maximum flux value for the object (independent of passband)

note it is only performed on "detected==1" ... not sure why

In [31]:
max_detected = all_data.loc[all_data['detected'] == 1].groupby('object_id')['flux'].max().to_frame('max_detected')

In [32]:
max_detected.head(5)

           max_detected
object_id
615          660.555237
713           33.711967
730            2.192224
745           20.322405
1124           5.305183

## most of above is more easily performed by just describe()
however it is really slow

In [33]:
train.head(5)

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [34]:
# warning slow... train.groupby(['object_id', 'passband'])['flux'].describe()

### "most extreme"
find the "most extreme" time for each object, and for each band, retrieve the k data points on either side, k points before

procedure is
* for each passband - translate to it's median
* (no scaling is done)
* find the date of the peak (largest value)
* for each sample identify the number of days to/from the peak
* sort by days before/after in order to find the n preceding, and n following

In [35]:
def most_extreme(df_in, k, positive=True, suffix='', include_max=True, include_dur=True, include_interval=False):
        # find the "most extreme" time for each object, and for each band, retrieve the k data points on either side
        # k points before
        df = df_in.copy()
        df['object_passband_mean'] = df.groupby(['object_id', 'passband'])['flux'].transform('median')
        if positive:
            df['dist_from_mean'] = (df['flux'] - df['object_passband_mean'])
        else:
            df['dist_from_mean'] = -(df['flux'] - df['object_passband_mean'])

        max_time = df.loc[df['detected'] == 1].groupby('object_id')['dist_from_mean'].idxmax().to_frame(
            'max_ind')
        max_time['mjd_max' + suffix] = df.loc[max_time['max_ind'].values, 'mjd'].values
        df = pd.merge(df, max_time[['mjd_max' + suffix]], 'left', left_on=['object_id'], right_index=True)
        df['time_after_mjd_max'] = df['mjd'] - df['mjd_max' + suffix]
        df['time_before_mjd_max'] = -df['time_after_mjd_max']

        # first k after event
        df.sort_values(['object_id', 'passband', 'time_after_mjd_max'], inplace=True)
        df['row_num_after'] = df.loc[df['time_after_mjd_max'] >= 0].groupby(
            ['object_id', 'passband']).cumcount()
        first_k_after = df.loc[(df['row_num_after'] < k) & (df['time_after_mjd_max'] <= 50),
                              ['object_id', 'passband', 'flux', 'row_num_after']]
        first_k_after.set_index(['object_id', 'passband', 'row_num_after'], inplace=True)
        first_k_after = first_k_after.unstack(level=-1).unstack(level=-1)
        first_k_after.columns = [str(x) + '_' + str(y) + '_after' for x in first_k_after.columns.levels[1]
                                 for y in first_k_after.columns.levels[2]]
        extreme_data = first_k_after
        time_bands = [[-50, -20], [-20, -10], [-10, 0], [0, 10], [10, 20], [20, 50], [50, 100], [100, 200], [200, 500]]
        if include_interval:
            interval_arr = []
            for start, end in time_bands:
                band_data = df.loc[(start <= df['time_after_mjd_max']) & (df['time_after_mjd_max'] <= end)]
                interval_agg = band_data.groupby(['object_id', 'passband'])['flux'].mean().unstack(-1)
                interval_agg.columns = ['{}_start_{}_end_{}'.format(c, start, end) for c in interval_agg.columns]
                interval_arr.append(interval_agg)
            interval_data = pd.concat(interval_arr, axis=1)
            extreme_data = pd.concat([extreme_data, interval_data], axis=1)
        if include_dur:
            # detection duration in each passband after event
            duration_after = df.loc[(df['time_after_mjd_max'] >= 0) & (df['detected'] == 0)] \
                .groupby(['object_id', 'passband'])['time_after_mjd_max'].first().unstack(-1)
            duration_after.columns = ['dur_after_' + str(c) for c in range(6)]
            extreme_data = pd.concat([extreme_data, duration_after], axis=1)

        # last k before event
        df.sort_values(['object_id', 'passband', 'time_before_mjd_max'], inplace=True)
        df['row_num_before'] = df.loc[df['time_before_mjd_max'] >= 0].groupby(
            ['object_id', 'passband']).cumcount()
        first_k_before = df.loc[(df['row_num_before'] < k) & (df['time_after_mjd_max'] <= 50),
                                ['object_id', 'passband', 'flux', 'row_num_before']]
        first_k_before.set_index(['object_id', 'passband', 'row_num_before'], inplace=True)
        first_k_before = first_k_before.unstack(level=-1).unstack(level=-1)
        first_k_before.columns = [str(x) + '_' + str(y) + '_before' for x in first_k_before.columns.levels[1]
                                  for y in first_k_before.columns.levels[2]]
        extreme_data = pd.concat([extreme_data, first_k_before], axis=1)
        if include_dur:
            # detection duration in each passband before event
            duration_before = df.loc[(df['time_before_mjd_max'] >= 0) & (df['detected'] == 0)] \
                .groupby(['object_id', 'passband'])['time_before_mjd_max'].first().unstack(-1)
            duration_before.columns = ['dur_before_' + str(c) for c in range(6)]
            extreme_data = pd.concat([extreme_data, duration_before], axis=1)

        if include_max:
            # passband with maximum detected flux for each object
            max_pb = df.loc[max_time['max_ind'].values].groupby('object_id')['passband'].max().to_frame(
                'max_passband')
            # time of max in each passband, relative to extreme max
            band_max_ind = df.groupby(['object_id', 'passband'])['flux'].idxmax()
            band_mjd_max = df.loc[band_max_ind.values].groupby(['object_id', 'passband'])['mjd'].max().unstack(-1)
            cols = ['max_time_' + str(i) for i in range(6)]
            band_mjd_max.columns = cols
            band_mjd_max = pd.merge(band_mjd_max, max_time, 'left', 'object_id')
            for c in cols:
                band_mjd_max[c] -= band_mjd_max['mjd_max' + suffix]
            band_mjd_max.drop(['mjd_max' + suffix, 'max_ind'], axis=1, inplace=True)
            extreme_data = pd.concat([extreme_data, max_pb, band_mjd_max], axis=1)

        extreme_data.columns = [c + suffix for c in extreme_data.columns]
        return extreme_data

### apply above

In [36]:
extreme_max = most_extreme(all_data, 1, positive=True, suffix='', include_max=True, include_dur=True, include_interval=True)

In [37]:
extreme_max.head(10)

,0.0_0_after,0.0_1_after,0.0_2_after,0.0_3_after,0.0_4_after,0.0_5_after,0_start_-50_end_-20,1_start_-50_end_-20,2_start_-50_end_-20,3_start_-50_end_-20,...,dur_before_3,dur_before_4,dur_before_5,max_passband,max_time_0,max_time_1,max_time_2,max_time_3,max_time_4,max_time_5
object_id,,,,,,,,,,,,,,,,,,,,,
615,107.724236,660.555237,NaN,386.264587,325.347717,280.555481,27.010132,-369.583008,-56.053688,-30.622488,...,NaN,NaN,21.9888,1,11.9946,0.0000,-0.0077,330.9835,-25.0010,354.0169
713,8.214751,21.860806,17.686045,33.711967,24.936552,-1.505679,7.235832,6.216793,10.324715,6.959814,...,2.9591,2.9482,2.9372,3,2.9870,14.0023,13.9946,0.0000,22.0253,321.1721
730,0.002485,0.081253,1.062404,1.543560,2.127217,2.192224,NaN,NaN,NaN,NaN,...,245.2082,245.1973,245.1864,4,-710.0849,-734.0001,-0.0263,5.9698,0.0000,0.0110
745,1.428620,17.679188,20.322405,18.697315,16.823721,11.039402,NaN,NaN,NaN,NaN,...,223.3026,223.2916,223.2807,2,14.8309,0.0077,0.0000,0.0154,0.0263,0.0354
1124,0.099942,1.210217,3.462885,4.406872,5.305183,3.692601,NaN,NaN,NaN,NaN,...,241.2421,241.2311,241.2201,4,8.9554,-0.0188,-0.0266,-0.0111,0.0000,0.0111
1227,66.739166,-0.379217,0.474166,1.155594,1.404833,0.433763,0.591041,-0.529568,-1.024230,0.521934,...,4.9858,4.9748,4.9639,0,0.0000,-691.9633,-389.7432,-83.7596,-334.9484,-389.7061
1598,NaN,26.449911,NaN,18.311235,13.461679,11.876847,-0.004076,-0.012961,-0.004523,0.003063,...,18.1457,15.1326,18.1235,1,-7.1541,0.0000,-0.0076,0.0077,0.0186,0.0296
1632,NaN,0.732351,0.399769,1.277339,2.649178,6.772305,NaN,NaN,NaN,NaN,...,0.0221,14.9009,14.8908,5,814.7497,809.6920,472.6880,-16.8960,-0.0110,42.8079
1920,1.943407,18.574020,22.088634,20.062527,17.617647,14.012241,0.052922,0.068802,-0.042402,0.183571,...,17.9130,17.9020,14.9189,2,8.0002,0.0076,0.0000,12.1312,12.1422,0.0372
1926,0.175010,0.362255,29.288733,-1.498832,-4.315869,4.157547,NaN,-0.695243,-0.722745,0.983133,...,10.9773,10.9663,10.9554,2,80.8079,17.9358,0.0000,-354.9767,71.8523,-294.1424

In [38]:
extreme_min = most_extreme(all_data, 1, positive=False, suffix='_min', include_max=False, include_dur=True)

# attempt to identify periodicity:

In [39]:
# find the dates of min and max flux
# (interestingly... only done for intra-galaxy...)
time_between_detections = all_data.loc[all_data['detected'] == 1].groupby('object_id')['mjd'].agg(['max', 'min'])

In [40]:
time_between_detections.head()

                  max         min
object_id
615        60624.2132  59750.4229
713        60672.0693  59825.2676
730        60611.0756  60532.3019
745        60249.0966  60125.4094
1124       60624.1760  60490.2647

In [41]:
# calculate the 
time_between_detections['det_period'] = time_between_detections['max'] - time_between_detections['min']

In [42]:
time_between_detections.head(10)

                  max         min  det_period
object_id
615        60624.2132  59750.4229    873.7903
713        60672.0693  59825.2676    846.8017
730        60611.0756  60532.3019     78.7737
745        60249.0966  60125.4094    123.6872
1124       60624.1760  60490.2647    133.9113
1227       60616.0769  59924.1136    691.9633
1598       60624.2132  60609.0247     15.1885
1632       59770.2445  59767.3233      2.9212
1920       60077.0188  59976.1590    100.8598
1926       60053.9947  59618.1948    435.7999

### same feature but grouped by passband

### similar feature based on high values

### aggregate values of the features during the detection period

In [43]:
all_data = pd.merge(all_data, time_between_detections, 'left', 'object_id')

In [44]:
all_data.head(10)

,object_id,mjd,passband,flux,flux_err,detected,bayes_flux,hostgal_specz,hostgal_photoz,redshift,group_count,group_size,q_0.25,q_0.75,max,min,det_period
0,615,59877.0238,0,-116.758644,3.097836,1,-116.758644,0.0,0.0,0.0,0,63,NaN,NaN,60624.2132,59750.4229,873.7903
1,615,60560.1065,0,-114.520103,4.013463,1,-114.520103,0.0,0.0,0.0,1,63,NaN,NaN,60624.2132,59750.4229,873.7903
2,615,60588.0131,0,-113.424164,3.241369,1,-113.424164,0.0,0.0,0.0,2,63,NaN,NaN,60624.2132,59750.4229,873.7903
3,615,59823.1505,0,-113.091080,4.069051,1,-113.091080,0.0,0.0,0.0,3,63,NaN,NaN,60624.2132,59750.4229,873.7903
4,615,60587.0127,0,-110.785774,3.555624,1,-110.785774,0.0,0.0,0.0,4,63,NaN,NaN,60624.2132,59750.4229,873.7903
5,615,60612.0266,0,-110.526726,2.844200,1,-110.526726,0.0,0.0,0.0,5,63,NaN,NaN,60624.2132,59750.4229,873.7903
6,615,60559.1097,0,-110.509773,3.426444,1,-110.509773,0.0,0.0,0.0,6,63,NaN,NaN,60624.2132,59750.4229,873.7903
7,615,59876.0231,0,-108.494843,3.449714,1,-108.494843,0.0,0.0,0.0,7,63,NaN,NaN,60624.2132,59750.4229,873.7903
8,615,60118.4163,0,-106.938904,3.102513,1,-106.938904,0.0,0.0,0.0,8,63,NaN,NaN,60624.2132,59750.4229,873.7903
9,615,59878.0246,0,-102.630241,3.135772,1,-102.630241,0.0,0.0,0.0,9,63,NaN,NaN,60624.2132,59750.4229,873.7903

In [45]:
all_data.shape

(1421705, 17)

### time distribution of detections in each band

In [46]:
# get the standard deviation of dates for each (object/passband) group
# this is a measure of how widely spread the sample dates are... by object/passband
detection_time_dist = all_data.loc[all_data['detected'] == 1].groupby(['object_id', 'passband'])['mjd'].std().unstack(-1)

In [47]:
detection_time_dist.head(5)

passband,0,1,2,3,4,5
object_id,,,,,,
615,274.702133,319.286828,317.107039,315.965966,314.734274,319.622294
713,34.651867,347.562533,293.150780,338.971978,35.866638,NaN
730,NaN,NaN,31.068126,29.716185,21.654423,16.205342
745,2.819164,30.492986,34.654006,34.653997,30.411028,23.573502
1124,NaN,45.982778,42.129072,38.609425,32.002089,25.281898

In [48]:
# this is just a renaming of the columns
detection_time_dist.columns = ['time_dist_' + str(i) for i in range(6)]

In [49]:
detection_time_dist.head(5)

,time_dist_0,time_dist_1,time_dist_2,time_dist_3,time_dist_4,time_dist_5
object_id,,,,,,
615,274.702133,319.286828,317.107039,315.965966,314.734274,319.622294
713,34.651867,347.562533,293.150780,338.971978,35.866638,NaN
730,NaN,NaN,31.068126,29.716185,21.654423,16.205342
745,2.819164,30.492986,34.654006,34.653997,30.411028,23.573502
1124,NaN,45.982778,42.129072,38.609425,32.002089,25.281898

In [50]:
# this is std just not by passband (std value by object_id - all passbands)
detection_time_dist_all = all_data.loc[all_data['detected'] == 1].groupby(['object_id'])['mjd'].std().to_frame('time_dist')

In [51]:
detection_time_dist_all.head(5)

            time_dist
object_id
615        310.975974
713        290.559994
730         27.845135
745         33.849254
1124        41.140559

# Part 2: "predict"
# The next steps is in predict.py
* It uses LGB to create model, measure performance and make predictions
* one of the early steps is to read .hdf5 files (the features from "feature engineering" above.  These files have been committed to the local folder

In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics, model_selection
import lightgbm as lgb
import os

In [2]:
test_mode = False

In [8]:
# read data
# warning - this may take 30 seconds or so (3.5M x 317)
all_meta = pd.read_hdf(os.path.join('all_data.hdf5'), key='file0')
train_meta_approx = pd.read_hdf(os.path.join('train_meta_approx.hdf5'), key='file0')
train_meta_exact = pd.read_hdf(os.path.join('train_meta_exact.hdf5'), key='file0')

In [81]:
print(all_meta.shape)
print(train_meta_approx.shape)
print(train_meta_exact.shape)

(3500738, 317)
(7848, 322)
(7848, 322)

In [82]:
pd.options.display.max_seq_items = 2000
train_meta_approx.columns

Index(['object_id', 'ra', 'decl', 'gal_l', 'gal_b', 'ddf', 'hostgal_specz',
       'hostgal_photoz', 'hostgal_photoz_err', 'distmod', 'mwebv', 'target',
       'mean_0', 'mean_1', 'mean_2', 'mean_3', 'mean_4', 'mean_5', 'std_0',
       'std_1', 'std_2', 'std_3', 'std_4', 'std_5', 'max_0', 'max_1', 'max_2',
       'max_3', 'max_4', 'max_5', 'min_0', 'min_1', 'min_2', 'min_3', 'min_4',
       'min_5', 'q_0.25_0_quantile', 'q_0.25_1_quantile', 'q_0.25_2_quantile',
       'q_0.25_3_quantile', 'q_0.25_4_quantile', 'q_0.25_5_quantile',
       'q_0.75_0_quantile', 'q_0.75_1_quantile', 'q_0.75_2_quantile',
       'q_0.75_3_quantile', 'q_0.75_4_quantile', 'q_0.75_5_quantile',
       'mean_0_scaled', 'mean_1_scaled', 'mean_2_scaled', 'mean_3_scaled',
       'mean_4_scaled', 'mean_5_scaled', 'std_0_scaled', 'std_1_scaled',
       'std_2_scaled', 'std_3_scaled', 'std_4_scaled', 'std_5_scaled',
       'max_0_scaled', 'max_1_scaled', 'max_2_scaled', 'max_3_scaled',
       'max_4_scaled', 'max_5_scaled', 'min_0_scaled', 'min_1_scaled',
       'min_2_scaled', 'min_3_scaled', 'min_4_scaled', 'min_5_scaled',
       'max_detected', 'det_period', 'det_period_pb_0', 'det_period_pb_1',
       'det_period_pb_2', 'det_period_pb_3', 'det_period_pb_4',
       'det_period_pb_5', '0.0_0_after', '0.0_1_after', '0.0_2_after',
       '0.0_3_after', '0.0_4_after', '0.0_5_after', '0_start_-50_end_-20',
       '1_start_-50_end_-20', '2_start_-50_end_-20', '3_start_-50_end_-20',
       '4_start_-50_end_-20', '5_start_-50_end_-20', '0_start_-20_end_-10',
       '1_start_-20_end_-10', '2_start_-20_end_-10', '3_start_-20_end_-10',
       '4_start_-20_end_-10', '5_start_-20_end_-10', '0_start_-10_end_0',
       '1_start_-10_end_0', '2_start_-10_end_0', '3_start_-10_end_0',
       '4_start_-10_end_0', '5_start_-10_end_0', '0_start_0_end_10',
       '1_start_0_end_10', '2_start_0_end_10', '3_start_0_end_10',
       '4_start_0_end_10', '5_start_0_end_10', '0_start_10_end_20',
       '1_start_10_end_20', '2_start_10_end_20', '3_start_10_end_20',
       '4_start_10_end_20', '5_start_10_end_20', '0_start_20_end_50',
       '1_start_20_end_50', '2_start_20_end_50', '3_start_20_end_50',
       '4_start_20_end_50', '5_start_20_end_50', '0_start_50_end_100',
       '1_start_50_end_100', '2_start_50_end_100', '3_start_50_end_100',
       '4_start_50_end_100', '5_start_50_end_100', '0_start_100_end_200',
       '1_start_100_end_200', '2_start_100_end_200', '3_start_100_end_200',
       '4_start_100_end_200', '5_start_100_end_200', '0_start_200_end_500',
       '1_start_200_end_500', '2_start_200_end_500', '3_start_200_end_500',
       '4_start_200_end_500', '5_start_200_end_500', 'dur_after_0',
       'dur_after_1', 'dur_after_2', 'dur_after_3', 'dur_after_4',
       'dur_after_5', '0.0_0_before', '0.0_1_before', '0.0_2_before',
       '0.0_3_before', '0.0_4_before', '0.0_5_before', 'dur_before_0',
       'dur_before_1', 'dur_before_2', 'dur_before_3', 'dur_before_4',
       'dur_before_5', 'max_passband', 'max_time_0', 'max_time_1',
       'max_time_2', 'max_time_3', 'max_time_4', 'max_time_5',
       '0.0_0_after_min', '0.0_1_after_min', '0.0_2_after_min',
       '0.0_3_after_min', '0.0_4_after_min', '0.0_5_after_min',
       'dur_after_0_min', 'dur_after_1_min', 'dur_after_2_min',
       'dur_after_3_min', 'dur_after_4_min', 'dur_after_5_min',
       '0.0_0_before_min', '0.0_1_before_min', '0.0_2_before_min',
       '0.0_3_before_min', '0.0_4_before_min', '0.0_5_before_min',
       'dur_before_0_min', 'dur_before_1_min', 'dur_before_2_min',
       'dur_before_3_min', 'dur_before_4_min', 'dur_before_5_min',
       '0.0_0_after_s', '0.0_1_after_s', '0.0_2_after_s', '0.0_3_after_s',
       '0.0_4_after_s', '0.0_5_after_s', '0_start_-50_end_-20_s',
       '1_start_-50_end_-20_s', '2_start_-50_end_-20_s',
       '3_start_-50_end_-20_s', '4_start_-50_end_-20_s',
       '5_start_-50_end_-20_s', '0_start_-20_end_-10_s',
       '1_start_-20_end_-10_s', '2_start_-20_end_-10_s',
       '3_start_-20_end_-10_s', '4_start_-20_end_-10_s',
       '5_start_-20_end_-10_s', '0_start_-10_end_0_s', '1_start_-10_end_0_s',
       '2_start_-10_end_0_s', '3_start_-10_end_0_s', '4_start_-10_end_0_s',
       '5_start_-10_end_0_s', '0_start_0_end_10_s', '1_start_0_end_10_s',
       '2_start_0_end_10_s', '3_start_0_end_10_s', '4_start_0_end_10_s',
       '5_start_0_end_10_s', '0_start_10_end_20_s', '1_start_10_end_20_s',
       '2_start_10_end_20_s', '3_start_10_end_20_s', '4_start_10_end_20_s',
       '5_start_10_end_20_s', '0_start_20_end_50_s', '1_start_20_end_50_s',
       '2_start_20_end_50_s', '3_start_20_end_50_s', '4_start_20_end_50_s',
       '5_start_20_end_50_s', '0_start_50_end_100_s', '1_start_50_end_100_s',
       '2_start_50_end_100_s', '3_start_50_end_100_s', '4_start_50_end_100_s',
       '5_start_50_end_100_s', '0_start_100_end_200_s',
       '1_start_100_end_200_s', '2_start_100_end_200_s',
       '3_start_100_end_200_s', '4_start_100_end_200_s',
       '5_start_100_end_200_s', '0_start_200_end_500_s',
       '1_start_200_end_500_s', '2_start_200_end_500_s',
       '3_start_200_end_500_s', '4_start_200_end_500_s',
       '5_start_200_end_500_s', '0.0_0_before_s', '0.0_1_before_s',
       '0.0_2_before_s', '0.0_3_before_s', '0.0_4_before_s', '0.0_5_before_s',
       '0.0_0_after_min_s', '0.0_1_after_min_s', '0.0_2_after_min_s',
       '0.0_3_after_min_s', '0.0_4_after_min_s', '0.0_5_after_min_s',
       '0.0_0_before_min_s', '0.0_1_before_min_s', '0.0_2_before_min_s',
       '0.0_3_before_min_s', '0.0_4_before_min_s', '0.0_5_before_min_s',
       'det_period_high', 'q_0.25_0_quantile_s', 'q_0.25_1_quantile_s',
       'q_0.25_2_quantile_s', 'q_0.25_3_quantile_s', 'q_0.25_4_quantile_s',
       'q_0.25_5_quantile_s', 'q_0.75_0_quantile_s', 'q_0.75_1_quantile_s',
       'q_0.75_2_quantile_s', 'q_0.75_3_quantile_s', 'q_0.75_4_quantile_s',
       'q_0.75_5_quantile_s', 'time_dist_0', 'time_dist_1', 'time_dist_2',
       'time_dist_3', 'time_dist_4', 'time_dist_5', 'time_dist',
       'min_0_det_period', 'min_1_det_period', 'min_2_det_period',
       'min_3_det_period', 'min_4_det_period', 'min_5_det_period',
       'max_0_det_period', 'max_1_det_period', 'max_2_det_period',
       'max_3_det_period', 'max_4_det_period', 'max_5_det_period',
       'std_0_det_period', 'std_1_det_period', 'std_2_det_period',
       'std_3_det_period', 'std_4_det_period', 'std_5_det_period',
       'median_0_det_period', 'median_1_det_period', 'median_2_det_period',
       'median_3_det_period', 'median_4_det_period', 'median_5_det_period',
       'prop_detected_0_det_period', 'prop_detected_1_det_period',
       'prop_detected_2_det_period', 'prop_detected_3_det_period',
       'prop_detected_4_det_period', 'prop_detected_5_det_period',
       'target_trans', 'target_trans_galactic', 'target_trans_non_galactic',
       'predict_max_exact', 'predict_max_approx'],
      dtype='object')

In [83]:
pd.options.display.max_seq_items = 5

In [84]:
all_meta['target'].head(5)

0    92.0
1    88.0
2    42.0
3    90.0
4    90.0
Name: target, dtype: float64

In [85]:
# map classes to range [0, 14]
# Train separate models for galatic and extra-galactic, since these classes contain disjoint sets of objects,
# and can be distinguished by whether hostgl_photoz == 0, as observed here:
classes = np.sort(all_meta.loc[all_meta['target'].notnull(), 'target'].unique().astype(int))
galactic_bool = all_meta['hostgal_photoz'] == 0
galactic_classes = np.sort(     all_meta.loc[all_meta['target'].notnull() & galactic_bool, 'target'].unique().astype(int))
non_galactic_classes = np.sort( all_meta.loc[all_meta['target'].notnull() & ~galactic_bool, 'target'].unique().astype(int))

In [86]:
print(classes)
print(galactic_classes)
print(non_galactic_classes)

[ 6 15 16 42 52 53 62 64 65 67 88 90 92 95]
[ 6 16 53 65 92]
[15 42 52 62 64 67 88 90 95]

In [87]:
# may be used later...
exact_bool    = all_meta['hostgal_photoz'].notnull().astype(int)

In [88]:
# transform the target so the classes are the integers range(num_classes)
# CW: I removed "all_meta" to avoid long calculation time - we will only have train_meta_* to work with
#for df in [all_meta, train_meta_approx, train_meta_exact]:
for df in [train_meta_approx, train_meta_exact]:
    df['target_trans'] = np.nan
    df['target_trans_galactic'] = np.nan
    df['target_trans_non_galactic'] = np.nan
    for k, class_list in enumerate([classes, galactic_classes, non_galactic_classes]):
        if k == 0:
            suffix = ''
        elif k == 1:
            suffix = '_galactic'
        else:
            suffix = '_non_galactic'
        for i in range(len(class_list)):
            df.loc[df['target'] == class_list[i], 'target_trans' + suffix] = i

In [89]:
print(all_meta.shape)
print(train_meta_approx.shape)
print(train_meta_exact.shape)

(3500738, 317)
(7848, 322)
(7848, 322)

In [90]:
train_meta_approx[['object_id','target','target_trans','target_trans_galactic','target_trans_non_galactic']].head(10)

,object_id,target,target_trans,target_trans_galactic,target_trans_non_galactic
0,615,92,12.0,4.0,NaN
1,713,88,10.0,NaN,6.0
2,730,42,3.0,NaN,1.0
3,745,90,11.0,NaN,7.0
4,1124,90,11.0,NaN,7.0
5,1227,65,8.0,3.0,NaN
6,1598,90,11.0,NaN,7.0
7,1632,42,3.0,NaN,1.0
8,1920,90,11.0,NaN,7.0
9,1926,65,8.0,3.0,NaN

In [91]:
### note from CW: the author excludes columns that are assumed not good predictors to save computes
### also exclude 'target' and 'target_trans*' which are CLASS not FEATURES

# train 2 models for each class, one for when we have exact redshift, and another for when we don't
train_cols_exact_redshift \
    = [c for c in train_meta_exact.columns if
      c not in ['object_id', 'ra', 'decl', 'gal_l', 'gal_b', 'target', 'target_trans', 'target_trans_galactic',
                 'target_trans_non_galactic', 'ddf',
                 'distmod', 'mwebv', 'hostgal_photoz', 'hostgal_photoz_err', 'index']]
train_cols_approx_redshift \
    = [c for c in train_meta_approx.columns if
      c not in ['object_id', 'ra', 'decl', 'gal_l', 'gal_b', 'target', 'target_trans', 'target_trans_galactic',
                 'target_trans_non_galactic', 'ddf',
                 'distmod', 'mwebv', 'hostgal_specz', 'index']]

In [92]:
# separate parameters for galactic and non-galactic
params_galactic = {'boosting_type': 'gbdt', 'application': 'binary', 'num_leaves': 32, 'seed': 0, 'verbose': -1,
                   'min_data_in_leaf': 1, 'bagging_fraction': 0.8, 'bagging_freq': 1, 'lambda_l1': 0, 'lambda_l2': 1,
                   'learning_rate': 0.02}
params_non_galactic = {'boosting_type': 'gbdt', 'application': 'binary', 'num_leaves': 16, 'seed': 0, 'verbose': -1,
                       'min_data_in_leaf': 1, 'bagging_fraction': 0.8, 'bagging_freq': 1, 'lambda_l1': 0,
                       'lambda_l2': 1, 'learning_rate': 0.02}

In [116]:
num_rounds = 3

In [117]:
len(train_cols_exact_redshift)

308

In [126]:
# cross-validate on train set, and measure distribution of out-of-sample predicted values

# CW Note: author is setting up validation infrastructure - 5-fold validation
# there are 2 models: galactic ("exact") and extra-galactic ("approx")
# there are 14 predictions made

train_err_exact = []
test_err_exact = []
train_err_approx = []
test_err_approx = []
cv = model_selection.KFold(2, shuffle=True, random_state=4)
galactic_bool_train = train_meta_exact['hostgal_photoz'] == 0
train_meta_exact['predict_max_exact'] = 0
train_meta_exact['predict_max_approx'] = 0
train_meta_approx['predict_max_exact'] = 0
train_meta_approx['predict_max_approx'] = 0
predict_cols = ['class_' + str(c) for c in classes]
train_prediction_exact \
    = pd.DataFrame(np.zeros((len(train_meta_exact), 14)), index=train_meta_exact.index, columns=predict_cols)
train_prediction_approx \
    = pd.DataFrame(np.zeros((len(train_meta_exact), 14)), index=train_meta_exact.index, columns=predict_cols)
eval_prediction_exact \
    = pd.DataFrame(np.zeros((len(train_meta_exact), 14)), index=train_meta_exact.index, columns=predict_cols)
eval_prediction_approx \
    = pd.DataFrame(np.zeros((len(train_meta_exact), 14)), index=train_meta_exact.index, columns=predict_cols)
importance = {}
best_iter_exact = {c: [] for c in classes}
best_iter_approx = {c: [] for c in classes}

In [119]:
# Evaluate accuracy on resampled training set having similar distribution to test. The data note says
# "The training data are mostly composed of nearby, low-redshift, brighter objects while the test data contain
# more distant (higher redshift) and fainter objects."  So we resample to achieve a similar distribution of
# hostgal_photoz.

# CW Note: Author is resampling so training set distribution is similar to
# test distribution. I did not drill down to verify this code.

# warning - takes 3 minutes to run...

train_bool = all_meta['target'].notnull()
ddf = all_meta['ddf'] == 1
w = pd.DataFrame(index=train_meta_exact.index, columns=['galactic', 'non_galactic'])
w['galactic'] = galactic_bool_train.astype(int)
w['non_galactic'] = np.nan
bands = np.arange(all_meta.loc[~train_bool, 'hostgal_photoz'].min(),
                  all_meta.loc[~train_bool, 'hostgal_photoz'].max() + 0.00001, 0.1)
for i in range(len(bands[:-1])):
    band_bool = ~galactic_bool_train & ~ddf & (train_meta_exact['hostgal_photoz'] >= bands[i]) \
                & (train_meta_exact['hostgal_photoz'] <= bands[i + 1])
    train_prop = band_bool.sum() / (~galactic_bool_train & ~ddf).sum()
    test_prop = ((all_meta.loc[~train_bool & ~galactic_bool, 'hostgal_photoz'] >= bands[i])
                 & (all_meta.loc[~train_bool & ~galactic_bool, 'hostgal_photoz'] <= bands[i + 1])).sum() \
                / (~train_bool & ~galactic_bool).sum()
    w.loc[band_bool, 'non_galactic'] = test_prop / train_prop
w.loc[ddf] = 0

In [121]:
w.describe()

          galactic  non_galactic
count  7848.000000   6063.000000
mean      0.227446      0.651117
std       0.419210      0.921424
min       0.000000      0.000000
25%       0.000000      0.000000
50%       0.000000      0.312994
75%       0.000000      0.964297
max       1.000000      4.896105

In [127]:
num_rounds

3

In [128]:
for train_ind, test_ind in list(cv.split(train_meta_exact.index, train_meta_exact['target_trans'])):
    print("--------split------")
    train_bool = train_meta_exact.index.isin(train_ind)
    ddf = train_meta_exact['ddf'] == 1

    for i, c in enumerate(classes):
        print("----> " + str(i) + " class " + str(c))
        g = c in galactic_classes
        gal_bool_train_curr = galactic_bool_train == g
        params = params_galactic if g else params_non_galactic
        col = 'class_' + str(c)
        weight_col = 'galactic' if g else 'non_galactic'

        # exact redshift model
        lgb_train = lgb.Dataset(train_meta_exact.loc[train_bool & gal_bool_train_curr, train_cols_exact_redshift],
                                label=(train_meta_exact.loc[train_bool & gal_bool_train_curr, 'target'] == c).astype(int))
        lgb_valid = lgb.Dataset(train_meta_exact.loc[(~train_bool) & gal_bool_train_curr & ~ddf, train_cols_exact_redshift],
                                label=(train_meta_exact.loc[(~train_bool) & gal_bool_train_curr & ~ddf, 'target'] == c).astype(int),
                                weight=w.loc[(~train_bool) & gal_bool_train_curr & ~ddf, weight_col])
        est = lgb.train(train_set=lgb_train, valid_sets=[lgb_train, lgb_valid], valid_names=['train', 'valid'],
                        params=params, num_boost_round=num_rounds, early_stopping_rounds=3)
        best_iter_exact[c].append(est.best_iteration)
        train_prediction_exact.loc[~train_bool & gal_bool_train_curr, col] = est.predict(
            train_meta_exact.loc[(~train_bool) & gal_bool_train_curr, train_cols_exact_redshift],
            num_iteration=est.best_iteration)
        # measure errors on train and test
        eval_prediction_exact.loc[gal_bool_train_curr, col] \
            = est.predict(train_meta_exact.loc[gal_bool_train_curr, train_cols_exact_redshift],
                          num_iteration=est.best_iteration)

--------split------
----> 0 class 6
[1]	train's binary_logloss: 0.673951	valid's binary_logloss: 0.674623
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.655699	valid's binary_logloss: 0.657121
[3]	train's binary_logloss: 0.638052	valid's binary_logloss: 0.640337
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.638052	valid's binary_logloss: 0.640337
----> 1 class 15
[1]	train's binary_logloss: 0.675751	valid's binary_logloss: 0.676796
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.658823	valid's binary_logloss: 0.660801
[3]	train's binary_logloss: 0.64278	valid's binary_logloss: 0.64568
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.64278	valid's binary_logloss: 0.64568
----> 2 class 16
[1]	train's binary_logloss: 0.675026	valid's binary_logloss: 0.676989
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.657169	valid's binary_logloss: 0.65985
[3]	train's binary_logloss: 0.640323	valid's binary_logloss: 0.644124
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.640323	valid's binary_logloss: 0.644124
----> 3 class 42
[1]	train's binary_logloss: 0.681548	valid's binary_logloss: 0.681893
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.670032	valid's binary_logloss: 0.670732
[3]	train's binary_logloss: 0.659059	valid's binary_logloss: 0.660027
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.659059	valid's binary_logloss: 0.660027
----> 4 class 52
[1]	train's binary_logloss: 0.675783	valid's binary_logloss: 0.675312
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.65908	valid's binary_logloss: 0.658202
[3]	train's binary_logloss: 0.643132	valid's binary_logloss: 0.641743
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.643132	valid's binary_logloss: 0.641743
----> 5 class 53
[1]	train's binary_logloss: 0.67366	valid's binary_logloss: 0.673774
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.654955	valid's binary_logloss: 0.655218
[3]	train's binary_logloss: 0.636915	valid's binary_logloss: 0.637294
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.636915	valid's binary_logloss: 0.637294
----> 6 class 62
[1]	train's binary_logloss: 0.677201	valid's binary_logloss: 0.676872
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.662055	valid's binary_logloss: 0.661152
[3]	train's binary_logloss: 0.647385	valid's binary_logloss: 0.646247
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.647385	valid's binary_logloss: 0.646247
----> 7 class 64
[1]	train's binary_logloss: 0.673848	valid's binary_logloss: 0.673659
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.655217	valid's binary_logloss: 0.654931
[3]	train's binary_logloss: 0.637306	valid's binary_logloss: 0.636882
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.637306	valid's binary_logloss: 0.636882
----> 8 class 65
[1]	train's binary_logloss: 0.674528	valid's binary_logloss: 0.676502
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.656805	valid's binary_logloss: 0.660412
[3]	train's binary_logloss: 0.639695	valid's binary_logloss: 0.645153
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.639695	valid's binary_logloss: 0.645153
----> 9 class 67
[1]	train's binary_logloss: 0.675681	valid's binary_logloss: 0.675628
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.658425	valid's binary_logloss: 0.658343
[3]	train's binary_logloss: 0.64183	valid's binary_logloss: 0.64185
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.64183	valid's binary_logloss: 0.64185
----> 10 class 88
[1]	train's binary_logloss: 0.673544	valid's binary_logloss: 0.674067
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.654694	valid's binary_logloss: 0.655684
[3]	train's binary_logloss: 0.636555	valid's binary_logloss: 0.637925
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.636555	valid's binary_logloss: 0.637925
----> 11 class 90
[1]	train's binary_logloss: 0.681132	valid's binary_logloss: 0.682092
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.669716	valid's binary_logloss: 0.672157
[3]	train's binary_logloss: 0.65878	valid's binary_logloss: 0.662394
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.65878	valid's binary_logloss: 0.662394
----> 12 class 92
[1]	train's binary_logloss: 0.674326	valid's binary_logloss: 0.6752
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.656067	valid's binary_logloss: 0.657706
[3]	train's binary_logloss: 0.638596	valid's binary_logloss: 0.64081
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.638596	valid's binary_logloss: 0.64081
----> 13 class 95
[1]	train's binary_logloss: 0.673654	valid's binary_logloss: 0.674192
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.654942	valid's binary_logloss: 0.655887
[3]	train's binary_logloss: 0.636922	valid's binary_logloss: 0.638302
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.636922	valid's binary_logloss: 0.638302
--------split------
----> 0 class 6
[1]	train's binary_logloss: 0.674159	valid's binary_logloss: 0.674482
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.655953	valid's binary_logloss: 0.656948
[3]	train's binary_logloss: 0.638349	valid's binary_logloss: 0.639888
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.638349	valid's binary_logloss: 0.639888
----> 1 class 15
[1]	train's binary_logloss: 0.675765	valid's binary_logloss: 0.676114
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.65926	valid's binary_logloss: 0.659817
[3]	train's binary_logloss: 0.643215	valid's binary_logloss: 0.644205
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.643215	valid's binary_logloss: 0.644205
----> 2 class 16
[1]	train's binary_logloss: 0.674522	valid's binary_logloss: 0.676157
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.656928	valid's binary_logloss: 0.660284
[3]	train's binary_logloss: 0.639966	valid's binary_logloss: 0.645056
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.639966	valid's binary_logloss: 0.645056
----> 3 class 42
[1]	train's binary_logloss: 0.681528	valid's binary_logloss: 0.681877
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.670375	valid's binary_logloss: 0.671188
[3]	train's binary_logloss: 0.65982	valid's binary_logloss: 0.660989
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.65982	valid's binary_logloss: 0.660989
----> 4 class 52
[1]	train's binary_logloss: 0.67545	valid's binary_logloss: 0.675071
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.658315	valid's binary_logloss: 0.657563
[3]	train's binary_logloss: 0.642058	valid's binary_logloss: 0.640792
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.642058	valid's binary_logloss: 0.640792
----> 5 class 53
[1]	train's binary_logloss: 0.673574	valid's binary_logloss: 0.673956
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.654781	valid's binary_logloss: 0.655479
[3]	train's binary_logloss: 0.636677	valid's binary_logloss: 0.637804
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.636677	valid's binary_logloss: 0.637804
----> 6 class 62
[1]	train's binary_logloss: 0.67733	valid's binary_logloss: 0.676798
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.661933	valid's binary_logloss: 0.661415
[3]	train's binary_logloss: 0.647056	valid's binary_logloss: 0.646482
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.647056	valid's binary_logloss: 0.646482

----> 7 class 64
[1]	train's binary_logloss: 0.673768	valid's binary_logloss: 0.67377
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.65511	valid's binary_logloss: 0.655007
[3]	train's binary_logloss: 0.637214	valid's binary_logloss: 0.637069
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.637214	valid's binary_logloss: 0.637069
----> 8 class 65
[1]	train's binary_logloss: 0.67467	valid's binary_logloss: 0.676401
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.656676	valid's binary_logloss: 0.659909
[3]	train's binary_logloss: 0.639369	valid's binary_logloss: 0.64373
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.639369	valid's binary_logloss: 0.64373
----> 9 class 67
[1]	train's binary_logloss: 0.67536	valid's binary_logloss: 0.675367
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.658339	valid's binary_logloss: 0.658501
[3]	train's binary_logloss: 0.64203	valid's binary_logloss: 0.64224
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.64203	valid's binary_logloss: 0.64224
----> 10 class 88
[1]	train's binary_logloss: 0.673608	valid's binary_logloss: 0.673847
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.654808	valid's binary_logloss: 0.655395
[3]	train's binary_logloss: 0.63671	valid's binary_logloss: 0.637515
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.63671	valid's binary_logloss: 0.637515
----> 11 class 90
[1]	train's binary_logloss: 0.681285	valid's binary_logloss: 0.683432
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.670192	valid's binary_logloss: 0.674329
[3]	train's binary_logloss: 0.658963	valid's binary_logloss: 0.665128
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.658963	valid's binary_logloss: 0.665128
----> 12 class 92
[1]	train's binary_logloss: 0.674297	valid's binary_logloss: 0.675059
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.655792	valid's binary_logloss: 0.65672
[3]	train's binary_logloss: 0.638104	valid's binary_logloss: 0.639805
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.638104	valid's binary_logloss: 0.639805
----> 13 class 95
[1]	train's binary_logloss: 0.673633	valid's binary_logloss: 0.674302
Training until validation scores don't improve for 3 rounds.
[2]	train's binary_logloss: 0.65495	valid's binary_logloss: 0.657052
[3]	train's binary_logloss: 0.636955	valid's binary_logloss: 0.640379
Did not meet early stopping. Best iteration is:
[3]	train's binary_logloss: 0.636955	valid's binary_logloss: 0.640379

In [104]:
classes

array([ 6, 15, 16, 42, 52, 53, 62, 64, 65, 67, 88, 90, 92, 95])